*{
  font-family: 'Source Serif Pro', serif;
}

.bgCNav{
  background-color: #000000;
  font-size: 18px;
  font-weight: 600
}


.bgCFoot{
  background-color: #c3a93c;
}

.imageFooter{
  width: 200px;
  height: 200px;
}

.bgCSubNav{
  background-color: #8d4925;
  height: 50px;
}


